// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-size: 14px;
    font-weight: normal;
}
nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}
body{
    // background-image: url();
}
 nav{
     background-color: #0056b3
 }
 // .ca{
 //     background-color: greenyellow;
 // }
 .btn-group-vertical{
     // margin: 15px;
     padding: 0;
     // float: left;

 }

.container{
     margin: 0;
     padding: 0;
 }
.btn-group-vertical button{
    width: 100px;
    height: 50px;
}
// .nav-item{
//     width: 100px;
//     height: 80px;
// }
// .btn-group-vertical{
//     margin: 50px;
//     width: 200px;
//     height: 100px;
// }
